:root {
    --Magenta: #CA336A;
    --Light-Magenta:#FF5C8D;
    --Dark-Magenta: #931C39;
    --Yellow:#FFEB3B;
    --Pink:#FFA6A6;
    --Light-grey:#EDEBEB;
    --text-color-light: #f1f1f1;
    --text-color-dark: #000;
    --text-color-danger: rgb(152, 58, 58);
    --white: #f1f1f1;
    --fakeColor: 434343;
  }

  @font-face {
    font-family:nunito-bold ;
    src: url(/src/Fonts/nunito.bold.ttf);
  }

  @font-face {
    font-family:nunito-extrabold ;
    src: url(/src/Fonts/nunito.extrabold.ttf);
  }

  @font-face {
    font-family:nunito-regular ;
    src: url(/src/Fonts/nunito.regular.ttf);
  }



body {
    color: var(--text-color-dark);
    padding: 0;
    margin: 0;
    font-family: nunito-regular ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  h1 {
  
    font-family: nunito-extrabold ;
    font-size: 25px;
    letter-spacing: 0.1px;
  }
  
  h2 {
    font-family: nunito-regular ;
    font-size: 18px;
    letter-spacing: 0.1px;
  }
  
  h3 {
    font-family:nunito-bold ;
    font-size: 16px;
    letter-spacing: 0.1px;
  }

  P {
    font-family: nunito-regular ;
    font-size: 14px;
  }


  /* ---------- nav styling ---------- */
.nav1, .nav2 {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 
}



@media (max-width: 450px){
.nav1 {
position: fixed;  
bottom: 0;
border-top:solid 1px rgb(243, 237, 237);
}
.nav2{
  display: none;
 
  
}
}


@media (min-width: 450px){
.nav2 {
  top: 0;  
  font-family:nunito-extrabold ;
  position: absolute;
  
}
.nav2 a {
  color: var(--text-color-dark);
  font-size: 30px;
}
.nav1{
  display: none;
}
}

/* Style the links inside the navigation bar */
.nav1 a, .nav2 a {
  display: inline-block;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (max-width: 450px){
  .nav1 a {
      font-size: 10px;
  }
/* Change the color of links on hover */

}
.nav1 a:hover, .nav2 a:hover  {
  color: var(--Magenta);
  
}

/* Add a color to the active/current link */
.nav1 a.active {
  
  color: var(--Magenta);
}

.nav2 a.active {
  
  color: var(--text-color-light);
}


